{% extends 'pnavheader.html' %}
{% block header%}

{% if messages %}
  {% for i in messages %}
  {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
  <div class="alert alert-success alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{i}}</strong> 
  </div>
  {% endif %}
  {% endfor %}
{% endif %}


{% if messages %}
  {% for i in messages %}
  {% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>{{i}}</strong> 
  </div>
  {% endif %}
  {% endfor %}
{% endif %}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="w-75 border shadow bg-light p-3">
        <h1>Add Project</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token%}
            <table class="table">
                {{form.as_table}}
                
            </table>
            <button class="btn btn-success">ADD</button>
        
        </form>
    </div>
</div>
{% endblock header%}