{% extends 'navheader.html' %}
{% block nav %}

<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="w-75 border shadow p-3">
        <h1>Edit Project details</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="table">
                {{form.as_table}}
            </table>
            <button class="btn btn-success">Update</button>
        </form>
    </div>

</div>

{% endblock nav %}