{% extends 'navheader.html' %}
        {% block nav %}
        <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="w-75 border shadow bg-light p-3">
                <h1>Add Task</h1>
                <form action="" method="post">
                    {% csrf_token%}
                    <table class="table">
                        {{form.as_table}}
                    </table>
                    <button class="btn btn-success">Add</button>
                
                </form>
            </div>
        </div>
        {% endblock nav %}
        
    
